@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App {
  /* min-height: 100vh;
  background-image: url("background.jpg");
  background-size: cover;
  /* background-color: #28a745; */
  /*background-position: center; */
}
body {

  overflow-x: hidden; /* Allow scrolling vertically */
}

